<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FJKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFC1A3BB1EFE3FAB00BBB8CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFC1A3CF1EFE3FAC00BBB8CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFC1A3DA1EFE3FAD00BBB8CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
